<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Some Website</title>
</head>
<body>
	{{> header}}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam est, quisquam suscipit maiores in, nihil? Molestias nihil reprehenderit ad, id non voluptatibus dicta praesentium nobis nesciunt. Magnam autem reprehenderit eius!
	</p>

	{{> footer}}
</body>
</html>